body {
    background-image: url("https://media.dnd.wizards.com/styles/media_resources/public/dnd_background_overlay2.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.jumbotron{
    height: 740px;
    width: 700px;
    margin-top:40px;
    margin-left: 200px;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.display-4{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.crit{
    height: 200px;
    width: 200px;
    padding: 20px;
}


.startBtn.hide{
    display: none;
}

.question-container.hide{
    display: none;
}

.instructions.hide{
    display: none;
}